$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import url('https://fonts.googleapis.com/css?family=Eater');
@import url('https://fonts.googleapis.com/css?family=Eater');

$dark-gray: #4e4e4e;
$light-gray: #eee;
// $container-width: 400px;
$font-size: 70px;
$font-family: 'Eater', cursive;
$dark-green: #3c763d;
$red: #f00;

.edit {
  box-sizing: border-box;
  font-family: $font-family;
}

.completed {
  color: $red;
  font-family: $font-family;
}

.task-buttons {
  font-family: $font-family;
  padding-bottom: 20px;
}

.modal-header {
  background-color: $light-gray;
  border-color: $light-gray;
  border-radius: 6px;
  // color: $dark-green;
  font-family: $font-family;
  font-weight: bolder;
  text-align: center;
}

.jumbotron {
  font-family: $font-family;
  // color: $dark-green;
  padding-top: 15px;
}

#add-task {
  font-family: $font-family;
  font-size: 20px;
}

.task-name {
  font-family: $font-family;
  font-size: 17px;
  margin-left: 5px;
  padding: 5px;
}
